// body {
//     font-family: $font-family;
// }

.container{
    max-width: 315px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.inputGroup{
    display: flex;
    background: $c-tertiary; 
    color: $c-primary;
    border:5px solid red;
    & .input-icon{
       padding: 16px 20px;
       font-size: 24px;
    }
    & .form-control{
        padding: 16px 0px;
        border: none; 
        outline: none;
        background-color: transparent;
    }
    & .input-btn{
        -webkit-appearance: button;
        border-radius: 0px;
        margin: 0;
        padding: 20px 24px;
        background: $c-fourth;
        border:20px solid black;
        display: inline-block;
        cursor: pointer;
        color: $c-primary;
        &:hover{
            background: lighten($c-fourth,5%);
        }
    }
}