// body {
//     font-family: $font-family;
// }

.container{
    max-width: 315px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.inputGroup{
    display: flex;
    background: $c-tertiary; 
    color: $c-primary;
    border: 0px;
    & .input-icon{
       padding: 16px 20px;
       font-size: 24px;
    }
    & .form-control{
        padding: 16px 0px;
        border: none; 
        outline: none;/*手機板input出現空隙問題*/
        background-color: transparent;
    }
    & .input-btn{
        padding: 20px 24px;
        background: $c-fourth;
        border: none;
        cursor: pointer;
        color: $c-primary;
        &:hover{
            background: lighten($c-fourth,5%);
        }
    }
}